@import url(../Content/bootstrap.min.css);

/* Components */
@import url(Components/navbar.css);
@import url(Components/carousel.css);

/* Layout */
@import url(Layout/layout.css);



.chatBox 
{
list-style-type: none;
padding: 0px;
margin: 0px;
position:absolute;
overflow: auto;
/*bottom: 0;*/
max-height: 950%;
width: 50%;
}

